@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #000;
}
.input {
  @apply w-full p-3 bg-black/60 rounded-xl border border-gray-600 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-cyan-500;
}
